<div class="container-fluid">
<div>
    <ul style="list-style: none;">
    <li style="float:left"><a href="/" class="btn btn-primary btn-outline-danger">Header</a> &nbsp; &nbsp;</li>
    <li style="float:left"><a routerLink="/ccboard" class="btn btn-primary btn-outline-danger">Cake Dashboard</a>&nbsp; &nbsp;</li>
    <li style="float:left"><a href="/restaurent" class="btn btn-primary btn-outline-danger">Restaurent</a>&nbsp; &nbsp;</li>
    <li style="float:left"><a href="/bootstrap" class="btn btn-primary btn-outline-danger">BootstrapDemo</a>&nbsp; &nbsp;</li>
    <li style="float:left"><a href="/signup" class="btn btn-primary btn-outline-danger">Signup</a></li>
    </ul>
    <br/>
  <hr color="blue"/>
</div>
<router-outlet></router-outlet>
</div>

<!-- <style>
        h1,h3{
      background-color: cadetblue;
    }
    h3{
      text-align:right;
    }
</style>
<h1 style="text-align:center;font-family:ARIAL;">Angular Demo Application</h1>
<h1>Angular Building Blocks</h1>
<h3>Learning Components</h3> 
<div id="main">
  <div class="subblock blockmargin">
    <label>Username</label>
    <input type="text"/>
  </div> 
  <div class="subblock blockmargin">
    <label>Password</label>
    <input type="password"/>
  </div> 
  <div class= "blockmargin btndiv subblock">
     <input type="submit" value="Login"/>
  </div> 
</div> -->
<!-- <div>
<div style="text-align: center;">
<div class="appheader">
</div> -->
<!-- <app-header></app-header> -->
<!-- <app-ccboard></app-ccboard>  -->
<!--<h3 appCustomstyle bgColor="red" Color="white">Online : Restaurent Menu</h3>
<hr color="blue"/>
</div>
<app-restaurantmenu></app-restaurantmenu>
</div> -->